.footer__container{
    display: grid;
    grid-template-areas:
        'copyr copyr copyr copyr . . . .'
        'copyr copyr copyr copyr  contact contact social social'
        'copyr copyr copyr copyr contact contact social social'
        'copyr copyr copyr copyr . . . .'
    ;

}
.social__media{
    grid-area: social;
}
.contact__container{
    grid-area: contact;
}
.copyRight__container{
    grid-area: copyr;
}