.header__container {
    display: grid;
    grid-template-areas:
        'title title . . . . . search search '
        'title title . . . . . search search '
        '. . . . . . . . .'
        'country country country country country . . . .'
    ;
}

.header__title {
    grid-area: title;
}

.search__bar {
    grid-area: search;
}

.country__category {
    grid-area: country;
}
